<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Blood Bank Management</title>
	<link rel="stylesheet" href="./dashboard_style.css">
	
</head>
<script>
        function show_hide() {
    var click = document.getElementById("dropdown-content");
    if (click.style.display === "block") {
      click.style.display = "none";
    } else {
      click.style.display = "block";
    }
  }

  // Function to hide the logout dropdown menu
  function hideLogoutMenu() {
    var logoutMenu = document.getElementById("dropdown-content");
    logoutMenu.style.display = "none";
  }

  document.addEventListener("click", function (event) {
    var logoutButton = document.getElementById("user-profile");
    var logoutMenu = document.getElementById("dropdown-content");
    const targetElement = event.target;

    // Check if the click occurred inside the logoutButton or the dropdown menu
    if (
      targetElement !== logoutButton &&
      !logoutButton.contains(targetElement) &&
      targetElement !== logoutMenu &&
      !logoutMenu.contains(targetElement)
    ) {
      hideLogoutMenu();
    }
  });
</script> 
<body>
	<div class="app">
		<header class="app-header">
			<div class="app-header-logo">
				<div class="logo">
					<span class="logo-icon">
						<img src="https://assets.codepen.io/285131/almeria-logo.svg" />
					</span>
					<h1 class="logo-title">
						<span>PARAS</span>
						<span>OnBLoodBank</span>
					</h1>
				</div>
			</div>
			<div class="app-header-navigation">
				<div class="tabs">
					<a href="#" class="bordercol">
						Welcome To Admin Panel !
					</a>
				</div>
			</div>
			{{!-- <div class="app-header-actions">
				<button class="user-profile">
					<span>UserName</span>
					<span>
						<img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
					</span>
				</button>
			</div> --}}
			<div class="app-header-actions" onclick="show_hide()">
                                <button class="user-profile" id="user-profile">
                                        <span>UserName</span>
                                        <div class="dropdown" >
                                        		<span>
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeGL4q-8fsn0laf9xBKMk5lcsMAi-ybmbFv0EL7W_xqw&usqp=CAU&ec=48665701" />
                                        		</span>
                                        		<div class="dropdown-content" id="dropdown-content">
                                                        <a href="/">Logout</a>
                                                	</div>
                                          </div>
                                </button>
            	</div>
			<div class="app-header-mobile">
				<button class="icon-button large">
					<i class="ph-list"></i>
				</button>
			</div>

		</header>
		<div class="app-body">
			<div class="app-body-navigation">
				<nav class="navigation">
					<a href="/dashboard_index">
						<i class="ph-browsers"></i>
						<span>Dashboard</span>
					</a>
					<a href="/add_donor_index">
						<i class="ph-check-square"></i>
						<span>Add Donor</span>
					</a>
					<a href="/donor_list_index">
						<i class="ph-swap"></i>
						<span>Donor List</span>
					</a>
					<a href="/Update_contact_info">
						<i class="ph-clipboard-text"></i>
						<span>Update Contact Info</span>
					</a>
				</nav>
				<footer class="footer">
					<h1>PARAS<small>©</small></h1>
					<div>
						PARAS ©<br />
						All Rights Reserved 2023
					</div>
				</footer>
			</div>
			<div class="app-body-main-content">
				<section class="service-section">
					<h2>Dashboard</h2>
					<div class="mobile-only">
						<button class="flat-button">
							Toggle search
						</button>
					</div>
					<div class="tiles">
						<button class="tile">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<div class="tile-header">
								<i class="ph-lightning-light"></i>
								<h3>
									<div>20</div>
									<div>Blood Donors Available</div>
								</h3>
							</div>
							<a href="#">
								<div>Go to service</div>
								<div class="icon-button">
									<i class="ph-caret-right-bold"></i>
								</div>
							</a>
						</button>


						<button class="tile">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<div class="tile-header">
								<i class="ph-fire-simple-light"></i>
								<h3>
									<div>10</div>
									<div>User Queries</div>
								</h3>
							</div>
							<a href="#">
								<div>Go to service</div>
								<div class="icon-button">
									<i class="ph-caret-right-bold"></i>
								</div>
							</a>
						</button>


						<button class="tile">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<div class="tile-header">
								<i class="ph-file-light"></i>
								<h3>
									<div> 6</div>
									<div>Pending Queries</div>
								</h3>
							</div>
							<a href="#">
								<div>Go to service</div>
								<div class="icon-button">
									<i class="ph-caret-right-bold"></i>
								</div>
							</a>
						</button>


					</div>
				</section>

			</div>

		</div>
	</div>
</body>

</html>