<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BloodBank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/nav_css.css">
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head> 
<body>
<header class="main-header">
  <div class="container">
    <div class="branding grid-row">
      <div class="logo">
        <a href="/"><img src="/logo.jpg" alt="logo"></a>
      </div>
      <span class="mobile-menu-btn desktop-hide"><i class="fa fa-bars"></i></span>
      <nav class="navbar mobile-menu">
        <span class="close-menu desktop-hide"><i class="fa fa-times"></i></span>
        <ul class="nav-listing">
          <li><a href="/"><button>HOME</button></a></li>
         <li><a href="/donate"><button>DONATE BLOOD</button></a></li>
         <li><a href="/need"><button>NEED BLOOD</button></a></li>
         <li><a href="/adminLogin"><button>ADMIN LOGIN</button></a></li>
         

   </ul>
      </nav>
    </div>
  </div>
</header>


<section class="main-section">
  <div class="container">
    <h2 class="main-heading">
      <span>#</span>
      <span>EVERYONE COULD</span>
      <span>BE A HERO</span>
    </h2>
    <div class="grid-row">
      <div class="left-col">
        <p>Donate blood save life</p>
        <p><a href="/donate"style="text-decoration:none;"><span style="font-size:xx-large; margin-left: 10px ;">DONATE</span></a></p>
      </div>
      <div class="right-col">
        <h2 class="dark-heading">
          <span>You can</span>
          <span>Help save a life</span>
        </h2>
        <h2 class="small-top-space">Give blood</h2>
      </div>
    </div>
  </div>


   
    <!-- ==============================================
    FOOTER
    =============================================== --> 
    
    <footer id="main-footer" class="add-padding border-top-color2">
    
      <div class="container">
        <ul class="social-links text-center">
          <li><a href="#" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>
        <p style="color:snow; ">&copy; 2023 BLOOD BANK</p>
      </div>
      
    </footer>

{{!-- <link rel="stylesheet" href="home.js"> --}}

</body>
</html>        